:root {
    --g-bar-stroke-dark: #c6ccd2;
    --g-border-color-dark: #616161;
    --g-bar-color-dark: #616161;
    --g-bg-dark: #3e3e3e;
    --g-light-border-color-dark: #3e3e3e;
    --g-text-muted-dark: #eee;
    --g-text-light-dark: #ececec;
    --g-text-color-dark: #f7f7f7;
    --g-progress-color: #8a8aff;
}

.dark > .gantt-container .gantt {
    & .grid-row {
        fill: #252525;
    }

    & .row-line {
        stroke: var(--g-light-border-color-dark);
    }

    & .tick {
        stroke: var(--g-border-color-dark);
    }

    & .arrow {
        stroke: var(--g-text-muted-dark);
    }

    & .bar {
        fill: var(--g-bar-color-dark);
        stroke: none;
    }

    & .bar-progress {
        fill: var(--g-progress-color);
    }

    & .bar-invalid {
        fill: transparent;
        stroke: var(--g-bar-stroke-dark);

        & ~ .bar-label {
            fill: var(--g-text-light-dark);
        }
    }

    & .bar-label.big {
        fill: var(--g-text-light-dark);
    }

    & .bar-wrapper {
        &:hover {
            .bar {
                fill: color-mix(in srgb, var(--g-bar-color-dark) 80%, white 20%);
            }

            & .bar-progress {
                fill: color-mix(in srgb, var(--g-progress-color) 80%, white 20%);
            }
        }

        &.active {
            .bar {
                fill: color-mix(in srgb, var(--g-bar-color-dark) 70%, white 30%);
            }

            & .bar-progress {
                fill: color-mix(in srgb, var(--g-progress-color) 70%, white 30%);
            }
        }
    }
}

.dark > .gantt-container {
    & .grid-header {
        background-color: #252525;
    }

    & .popup-wrapper {
        background-color: #333;

        & .title {
            border-color: color-mix(in srgb, var(--g-progress-color) 80%, white 20%);
        }
    }
}
